#header {
  vertical-align: top;
  text-align: center;
}

.items {
  margin-top: -3px;
  margin-bottom: -3px;
}

.head {
  border: black;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  margin-top: -10px;
}

#body {
  text-align: center;
  width: 100%;
  height: 100%;
}

#banner {
  background-color: #F0F0F0;
}

body {
  margin: 0;
}

.descript {
  display: inline-block;
  width: 32%;
}

.bottom {
  height: 180px;
  display: inline-block;
  width: 500px;
}

#bottomHeader {
  position: relative;
  bottom: 0;
  padding: 1px;
  background-color: #F0F0F0;
  width: auto;
}

#bigImage {
  padding-top: 5px;
  width: 100%;
  height: 400px;
}
#myImage {
  width: 50%;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

#mySidenav {
  left: 0;
  background-color: #111;
}

#otherSidenav {
  right: 0;
  background-color: #FFFFFF;
}

#otherSidenav a:hover {
  color: #000000;
}

#otherSidenav p:hover {
  color: #000000;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* The navigation menu links */
.sidenav p {
  width: fit-content;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
}
#img0{
  position: relative;
  left: 35%;
  margin: 8px, 8px, 8px, 32px;
}
#img1{
  position: relative;
  left: 35%;
  margin: 8px, 8px, 8px, 32px;
}
#img2{
  position: relative;
  left: 35%;
  margin: 8px, 8px, 8px, 32px;
}
/* When you mouse over the navigation links, change their color */
.sidenav p:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#cookie {
  text-align: center;
  padding: 4px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#buttonOK {
  position: absolute;
  height: 30px;
  top: 160px;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#cookietext {
  margin-top: -5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#otherSideNav table:hover,th:hover,td:hover{
  color: #000000;
  border: 1px solid #000000;
}
#otherSideNav table, th, td {
  border: 1px solid #818181;
  color: #818181;
}
#otherSideNav td{
  text-align: center;
}
#otherSideNav table{
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.damount {
  margin-top: -12px;
}

.damountf {
  margin-bottom: -12px;
  margin-top: 2px;
}

#storeImg {
  width: 50%;
  border: 10px solid;
  border-color: green;
  margin-bottom: 10px;
}
